$base_color: $monokai_black;
$bg_color: transparentize($monokai_black, 0.07);
$main_dark: darken($bg_color, 5%);
$gray: $monokai_grey;
$fg_color: $monokai_white;
$topbar_color: #d8dee9;
$accent_color: $monokai_pink;

$lime: $monokai_green;
$red: $monokai_pink;
$purple: $monokai_purple;
$cyan: $monokai_cyan;

$selected_fg_color: $fg_color;
$selected_bg_color: $red;
$selected_borders_color: darken($selected_bg_color, 10%);
$borders_color: darken(#2e3440, 7%);
$borders_edge: transparentize(white, 0.9);
$link_color: $accent_color;
$link_visited_color: transparentize($link_color,0.5);
$top_hilight: $borders_edge;
$top_highlight: transparentize(white, 0.9);
$bottom_highlight: transparentize(black, 0.9);

$warning_color: darken($monokai_gold, 5%);
$error_color: $monokai_orange;
$success_color: $monokai_green;
$destructive_color: darken($monokai_orange, 10%);

$osd_fg_color: $fg_color;
$osd_bg_color: transparentize($bg_color, 0.05);
$osd_borders_color: transparentize(black, 0.3);
$osd_outer_borders_color: transparentize(white, 0.9);

$tooltip_borders_color: $osd_outer_borders_color;

//insensitive state derived colors
$insensitive_fg_color: mix($fg_color, $bg_color, 50%);
$insensitive_bg_color: mix($bg_color, $base_color, 60%);
$insensitive_borders_color: $borders_color;

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color: lighten($base_color,1%);
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: transparentize($fg_color, 0.2);
$backdrop_insensitive_color: lighten($backdrop_bg_color, 15%);
$backdrop_borders_color: mix($borders_color, $bg_color, 90%);
$backdrop_dark_fill: mix($backdrop_borders_color,$backdrop_bg_color, 35%);
