
// Project:    MOnokai
// Version:
// Repository:
// License:    MIT
// References:
//   http://sass-lang.com
//   http://sassdoc.com

////
/// A theme I created using the work done by Arctic Ice Studio and Eliver Lara as a base, then customized to
/// use Monokai inspired colors
///
/// @author me
////

/// Base component colors for "Monokai".

/// Used for texts, backgrounds, carets and structuring characters like curly- and square brackets.
$monokai_black: #272822; // $nord0

/// Used as a lighter background color for UI elements like status bars.
$monokai_grey: #4D4842; // $nord1

/// Used for texts, backgrounds, carets and structuring characters like curly- and square brackets.
$monokai_white: #F8F8F2; // $nord2

$monokai_pink: #F92672;

$monokai_green: #A6E22E;

$monokai_orange: #FD971F;

$monokai_gold: #F4BF75;

$monokai_blue: #66D9EF;

$monokai_purple: #AE81FF;

$monokai_cyan: #A1EFE4;
